<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>تشخیص هوشمند سرطان پوست</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">

    <h1>تشخیص هوشمند ضایعات پوستی</h1>
    <p class="subtitle">تصویر واضح از ضایعه پوستی بارگذاری کنید</p>

    <form action="/predict" method="post" enctype="multipart/form-data" id="form">

        <label class="upload-box">
            <input type="file" name="file" accept="image/*" required onchange="previewImage(event)">
            <span>📷 انتخاب تصویر</span>
        </label>

        <img id="preview">

        <button type="submit" id="btn">تحلیل تصویر</button>
    </form>

    {% if result %}
    <div class="result {{ risk }}">
    <h2>نتیجه تشخیص</h2>
    <p>{{ result }}</p>
    <p>⚡ میزان اطمینان مدل: {{ confidence }}%</p>
    </div>
    {% endif %}

</div>

<script>
function previewImage(event) {
    const img = document.getElementById("preview");
    img.src = URL.createObjectURL(event.target.files[0]);
    img.style.display = "block";
}

document.getElementById("form").onsubmit = () => {
    document.getElementById("btn").innerText = "در حال تحلیل...";
};
</script>

</body>
</html>
